<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Home</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    header div {
      height: 100%;
      display: flex;
      align-items: center;
    }
    a {
      text-decoration: none;
      color: White;
      font-size: 25px;
      padding: 5px;
      margin-right: 10px;
      border-radius: 10px;
    }
    header a:hover {
      color: black;
      background-color: white;
    }
    main a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body style="background-color: rgb(240, 240, 240);">
  <header style="height: 50px; background-color: black; display: flex; justify-content: center;">
    <div><a href="/">Home</a></div>
    <div><a href="products">Produtos</a></div>
    <div><a href="contact">Contato</a></div>
  </header>
  <main style="display: flex; justify-content: center; align-items: center; height: 90vh;">
    <div style="text-align: center;">
      <h1>Meios de comunicação: </h1>
      <a style="color: black;" href="#">SAC</a><br>
      <a style="color: black;" href="#">Email</a>
    </div>
  </main>
</body>
</html>
