<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Home</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    header div {
      height: 100%;
      display: flex;
      align-items: center;
    }
    a {
      text-decoration: none;
      color: #ebebeb;
      font-size: 25px;
      padding: 5px;
      margin-right: 10px;
      border-radius: 10px;
    }
    a:hover {
      color: black;
      background-color: white;
    }

  </style>
</head>
<body style="background-color: #ebebeb;">
  <header style="height: 50px; background-color: black; display: flex; justify-content: center;">
    <div><a href="/">Home</a></div>
    <div><a href="products">Produtos</a></div>
    <div><a href="contact">Contato</a></div>
  </header>
  <main style="display: flex; justify-content: center; align-items: center; height: 90vh;">
    <div style="text-align: center;">
      <h1 style="color: black; margin-bottom: 10px;">Seja bem vindo</h1>
      <p style="color: black; font-size: 20px;">Aqui é possivel visualizar os preços dos produtos de forma rapida e eficaz</p>
    </div>
  </main>
</body>
</html>
