<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Home</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    header div {
      height: 100%;
      display: flex;
      align-items: center;
    }
    a {
      text-decoration: none;
      color: White;
      font-size: 25px;
      padding: 5px;
      margin-right: 10px;
      border-radius: 10px;
    }
    a:hover {
      color: black;
      background-color: white;
    }


    .content-details-product {
      text-align: center;
    }
    .title-product {
      font-size: 25px;
      margin: 5px;
      color: black;
    }
    .price-product {
      font-size: 20px;
      color: black;
    }
  </style>
</head>
<body style="background-color: rgb(240, 240, 240);">
  <header style="height: 50px; background-color: black; display: flex; justify-content: center;">
    <div><a href="/">Home</a></div>
    <div><a href="products">Produtos</a></div>
    <div><a href="contact">Contato</a></div>
  </header>
  <main style="margin: 0px 50px; display: flex; flex-wrap: wrap;">
    <div style="display: flex;">
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
    </div>
    <div style="display: flex;">
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
      <a href="#" style="border-radius: 0; margin: 10px; padding: 1px;">
        <img src="https://via.placeholder.com/150x150" alt="">
        <div class="content-details-product">
          <h1 class="title-product">Produto</h1>
          <p class="price-product">R$ 000,00</p>
        </div>
      </a>
    </div>
    <button  style="background-color: black;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 50px;
    cursor: pointer;">Ver Mais</button>
  </main>
</body>
</html>
